@import "style/handle.scss";

* {
	margin: 0;
	padding: 0;
	transition: 0.2s;
}

body {
	overflow-x: hidden;
}

.is-focus, .is-focused {
	box-shadow: 0 0 0 1px $neteaseColor inset !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
	background-color: $neteaseColor !important;
	border-color: $neteaseColor !important;
}
.el-radio-button__inner:hover {
	color: $neteaseColor !important;
}

.is-active:hover {
	.el-radio-button__inner {
		color: #FFF !important;
	}
}