@import "style/theme/handle.scss";

.main {
	width: 100vw;
	min-height: calc(100vh - 128px);
	padding-top: 128px;
	@include flex_center($content: start);
	.title {
		@include flex_center;
		.main_title {
			margin-bottom: 4px;
			font-weight: bold;
			font-size: 2rem;
			@include font_color("theme-green-background");
		}
	}

	.container {
		margin: 32px 0;

		input {
			display: none;
		}
        input:checked + label {
            @include background_color("theme-green-tint-background");
            @include box_shadow("theme-green-tint-background");
        }
		input:hover + label {
            @include background_color("theme-green-tint-background");
        }
        label,a {
            margin: 12px;
            padding: 8px 16px;
            border-radius: 16px;
            cursor: pointer;
			text-decoration: none;
            @include border_color("border", 2px);
        }
	}
}
