@import "style/theme/handle.scss";

.playList {
	width: 100vw;
	min-height: 300px;
	@include flex_center($content: start);

	form {
		@include flex_center($direction: row);
		label {
			width: 500px;
			padding: 12px 8px;
			border-radius: 8px;
			@include flex_center($direction: row, $content: start);
			@include border_color("border");
			.icon {
				margin-right: 4px;
			}
			input {
				width: 100%;
				font-size: 1rem;
			}
		}
		button {
			margin-left: 12px;
			padding: 12px 14px;
			border-radius: 8px;
			cursor: pointer;
			@include border_color("border");
		}
		button:hover {
			@include background_color("theme-green-tint-background");
			@include box_shadow("theme-green-tint-background");
		}
	}
	.list {
		margin-top: 32px;
		.toneQuality {
			padding: 26px 12px;
			border-radius: 8px;
			position: relative;
			@include border_color("border");
			> span {
				padding: 0 8px;
				position: absolute;
				top: -12px;
				left: 12px;
				background-color: #ffffff;
			}
			label {
				margin: 6px;
				cursor: pointer;
				input {
					display: none;
				}
				input:checked + span {
					@include background_color("theme-green-tint-background");
					@include box_shadow("theme-green-tint-background");
				}
				span {
					padding: 6px 12px;
					border-radius: 8px;
					@include border_color("border");
				}
			}
		}

		.downloadButton {
			margin: 32px 0;
			padding: 12px;
			border-radius: 8px;
			position: relative;
			@include border_color("border");
			> span {
				padding: 0 8px;
				position: absolute;
				top: -12px;
				left: 12px;
				background-color: #ffffff;
			}
			button {
				margin-right: 6px;
				padding: 6px 12px;
				border-radius: 8px;
				cursor: pointer;
				@include border_color("border");
			}
			button:hover {
				@include background_color("theme-green-tint-background");
			}
		}

		.singList {
			margin: 32px 0;
			padding: 12px;
			border-radius: 8px;
			position: relative;
			@include border_color("border");
			> span {
				padding: 0 8px;
				position: absolute;
				top: -12px;
				left: 12px;
				background-color: #ffffff;
			}
			label {
				li {
					width: calc(100% - 24px);
					list-style: none;
					margin: 12px 0;
					padding: 12px;
					border-radius: 12px;
					cursor: pointer;
					@include flex_center($direction: row, $content: start);
					img {
						width: 48px;
						height: 48px;
						margin-right: 12px;
						border-radius: 14px;
					}
				}
				li:hover {
					@include background_color("theme-green-tint-background");
				}
				input {
					display: none;
				}
				input:checked + li {
					@include background_color("theme-green-tint-background");
				}
			}
		}
	}
}
